{% extends "layout.html" %}

{% block title %} 
{{ title |e}} 
{% endblock %}

{% block content %}
{% if title == "Don't Read This" %}
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">/flag.txt</a>
{% endif %}
<h1>{{ title | e }}</h1>
<iframe srcdoc="{{ content | safe}}" sandbox>
    <p>iframe srcdoc not supported</p>
</iframe>

<div>
    <h3>By {{ author }}</h3>
</div>
<form action="/report" method="POST">
    <button type="submit" name="accused" id="report" value={{ author }}>Report {{ author }}</button> <!-- this is vulnerable to value injection-->
</form>
{% endblock %}